directory=/data/rethinkdb/instances/{{ dbpath }}
bind=all
cluster-port={{ local_port }}
driver-port=28115
{% for host, port in rethink_cluster.iteritems() %}
{% set myport = cluster_port %}
{% if port != myport %}
join=127.0.0.1:{{ port }}
{% endif %}
{% endfor %}
