directory=/data/rethinkdb/data/instances/{{ dbpath }}
canonical-address=127.0.0.1:{{ cluster_exposed_port }}
canonical-address=127.0.0.1:{{ cluster_local_port }}
cache-size=768
bind=all
cluster-port={{ cluster_local_port }}
driver-port=28115
{% for host, port in rethink_cluster.iteritems() %}
{% set myport = cluster_exposed_port %}
{% if port != myport %}
join=127.0.0.1:{{ port }}
{% endif %}
{% endfor %}
server-name={{ server_name|replace("-", "_") }}
