cert = /config/cert.pem
key = /config/key.pem
foreground = yes
client = yes
socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1
TIMEOUTclose = 0

{% for host, port in rethink_cluster.iteritems() %}
{% if port != cluster_exposed_port %}
[rethink-{{ host }}]
accept = 127.0.0.1:{{ port }}
connect = {{ host }}:{{ port }}
{% endif %}
{% endfor %}
