cert = /config/cert.pem
key = /config/key.pem
foreground = yes
socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1
TIMEOUTclose = 0

[rethink-{{ cluster_exposed_port }}]
accept = 0.0.0.0:{{ cluster_exposed_port }}
connect = 127.0.0.1:{{ cluster_local_port }}

[rethink-28015]
accept = 0.0.0.0:28015
connect = 127.0.0.1:28115
