[program:{{ container['name'] }}]
command = /usr/bin/docker run --rm=True {{ container['docker_args'] }}
autostart = true
autorestart = true
startretries = 9999999
user = root
group = root
umask = 022
