cert = /config/cert.pem
key = /config/key.pem
foreground = yes
client = yes
socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1
TIMEOUTclose = 0


[rethink-client]
accept = 127.0.0.1:28015
{% for host, port in rethink['cluster'].iteritems() %}
connect = {{ host }}:28015
{% endfor %}

[redis-client]
accept = 127.0.0.1:{{ redis['local_port'] }}
connect = {{ hosts['redis'] }}:{{ redis['exposed_port'] }}

[actionbroker-client-{{ action_broker['local_sink_port'] }}]
accept = 127.0.0.1:{{ action_broker['local_sink_port'] }}
{% for host in hosts['actionbroker'] %}
connect = {{ host }}:{{ action_broker['exposed_sink_port'] }}
{% endfor %}
