cert = /config/cert.pem
key = /config/key.pem
foreground = yes

[broker-{{ exposed_actioner_port }}]
accept = 0.0.0.0:{{ exposed_actioner_port }}
connect = 127.0.0.1:{{ local_actioner_port }}

[broker-{{ exposed_sink_port }}]
accept = 0.0.0.0:{{ exposed_sink_port }}
connect = 127.0.0.1:{{ local_sink_port }}
